* {
  margin: 0%;
  padding: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: #000;
}
.link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.link {
  text-decoration: none;
  color: azure;
}
aside {
  padding-top: 12px;
  padding-right: 10%;
  padding-bottom: 12px;
  padding-left: 10%;
}
header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/header-img.png");
}

.font-header {
  font-size: 80px;
  font-family: "Poppins", sans-serif;
}
.f {
  width: 125px;
}
.d {
  position: relative;
  z-index: 1;
}
.bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  opacity: 0.9;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.829) 33%,
    rgba(0, 0, 0, 0) 94%
  );
}
.font-header-p {
  font-family: "Sen", sans-serif;
}
.text-green {
  color: rgb(73, 230, 0);
}
.btn-header:hover {
  color: aliceblue;
}
.w {
  width: 750px;
}
.vh-80 {
  height: 80vh;
}
.width-card {
  width: 100px;
}
.card-main {
  width: 150px;
  padding: 30px;
  background-color: #0f1310;
}
.width-imagen-info {
  width: 150px;
}
.btn-header {
  border-width: 0px;
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 10px;
  background-color: #00fe00;
}
.info-section {
  background-color: #101512;
}
@media (max-width: 900px) {
  .w {
    width: auto;
  }
  .font-header {
    font-size: 30px; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
  }
}
@media (max-width: 600px) {
  aside {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.sni-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/img/ctn.jpg");
  width: 100%;
  height: 80vh;
}
.w-info-section {
  max-width: 1100px;
}
